.home_button_container {
  width: 25vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2em;
  background-color: transparent;
  border: none;
}

.home_button_icon {
  font-size: 0.5em;
  text-align: left;
  margin-left: 0.25em;
  line-height: 15px;
}

.home_button_label {
  font-size: 0.25em;
  text-align: left;
  margin-left: 0.25em;
  line-height: 15px;
  font-weight: bold;
}

.home_button_container:hover {
  color: orange;
  cursor: pointer;
}